---
permalink: /robots.txt
layout: null
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

# Host (optional; helps search engines prefer this domain)
Host: https://www.biovel.bg

# Sitemap
Sitemap: {{ siteUrl }}/sitemap.xml
