---
permalink: /sitemap.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
{% for page in collections.all %}
{% set url = page.url %}
{% if url and url != "/sitemap.xml" and url != "/robots.txt" %}
  <url>
    <loc>{{ siteUrl }}{{ url | url }}</loc>
    <lastmod>{{ sitemapBuildDate }}</lastmod>
    <changefreq>{% if url == "/" %}weekly{% elif url == "/uslugi/" or url == "/produkti/" or url == "/kontakti/" %}weekly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if url == "/" %}1.0{% elif url == "/uslugi/" or url == "/produkti/" or url == "/kontakti/" %}0.9{% else %}0.8{% endif %}</priority>
  </url>
{% endif %}
{% endfor %}
</urlset>
